<div class="col-span-8 mx-auto w-[50%]">
  <h1 class="text-3xl font-bold text-center mb-8 shadow">Edit your Article</h1>
  
  <%= render 'form' %>

  <a href="<%= articles_path %>" class="block  flex justify-center items-start w-full   max-w-xs mx-auto bg-gray-500 hover:bg-gray-700 text-white font-bold rounded shadow-md text-center back_btn">Back</a>
</div>
